.ds-tag {
  height: fit-content;
  display: inline-block;
  padding: var(--space-1) var(--space-2);
  white-space: nowrap;
  border-radius: var(--border-radius-m);
  border-style: solid;
  border-width: 1px;
  font-size: 11px;
  border-color: transparent;
  &--primary {
    &--solid {
      background-color: var(--colour-ui-primary);
      color: var(--colour-text-inverse);
    }
    &--outline {
      border-color: var(--colour-ui-primary);
      color: var(--colour-ui-primary);
    }
  }
  &--secondary {
    &--solid {
      background-color: var(--colour-brand-primary-main);
      color: var(--colour-text-inverse);
    }
    &--outline {
      border-color: var(--colour-brand-primary-main);
      color: var(--colour-brand-primary-main);
    }
  }
  &--error {
    &--solid {
      background-color: var(--colour-ui-error);
      color: var(--colour-text-inverse);
    }
    &--outline {
      border-color: var(--colour-ui-error);
      color: var(--colour-ui-error);
    }
  }
  &--success {
    &--solid {
      background-color: var(--colour-ui-success);
      color: var(--colour-text-inverse);
    }
    &--outline {
      border-color: var(--colour-ui-success);
      color: var(--colour-ui-success);
    }
  }
  &--alert {
    &--solid {
      background-color: var(--colour-ui-alert);
      color: var(--colour-text-inverse);
    }
    &--outline {
      border-color: var(--colour-ui-alert);
      color: var(--colour-ui-alert);
    }
  }
}