/node_modules
/packages/**/node_modules
/.pnp
.pnp.js
**/*.cache/
/dist
/storybook-static

# testing
/coverage

# production
/packages/ds/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE files
.idea/
