.ds-button {
  border-style: none;
  position: relative;
  cursor: pointer;
  display: flex;
  vertical-align: middle;
  padding-top: var(--space-2);
  padding-bottom: var(--space-2);
  padding-left: var(--space-7);
  padding-right: var(--space-7);
  border-radius: var(--border-radius-m);
  &--primary {
    background-color: var(--colour-ui-primary);
    color: var(--colour-text-inverse);
    svg {
      color: var(--colour-text-inverse);
    }
    &:hover {
      background-color: var(--colour-brand-primary-main);
    }
    &:active,
    &:focus {
      background-color: var(--colour-brand-primary-dark);
    }
    &:disabled {
      background-color: var(--colour-ui-disabled);
      color: var(--colour-text-inverse);
    }
  }
  &--secondary {
    background-color: var(--colour-text-inverse);
    border-color: var(--colour-ui-primary);
    color: var(--colour-ui-primary);
    svg {
      color: var(--colour-ui-primary);
    }
    &:hover {
      color: var(--colour-text-inverse);
      background-color: var(--colour-brand-primary-main);
    }
    &:active,
    &:focus {
      color: var(--colour-text-inverse);
      background-color: var(--colour-brand-primary-dark);
    }
    &:disabled {
      background-color: var(--colour-ui-disabled);
      color: var(--colour-text-inverse);
    }
  }
  &--chevron {
    background-color: transparent;
    border-color: transparent;
    color: var(--colour-ui-primary);
    svg {
      color: var(--colour-ui-primary);
    }
    &:hover {
      color: var(--colour-brand-primary-main);
    }
    &:active,
    &:focus {
      color: var(--colour-brand-primary-dark);
    }
    &:disabled {
      color: var(--colour-ui-disabled);
    }
  }
  &--icon {
    background-color: var(--colour-ui-primary);
    border-color: transparent;
    color: var(--colour-text-inverse);
    padding-top: var(--space-3);
    padding-bottom: var(--space-3);
    padding-left: var(--space-3);
    padding-right: var(--space-3);
    svg {
      color: var(--colour-text-inverse);
    }
    &:hover {
      background-color: var(--colour-brand-primary-main);
    }
    &:active,
    &:focus {
      background-color: var(--colour-brand-primary-dark);
    }
    &:disabled {
      background-color: var(--colour-ui-disabled);
      color: var(--colour-text-inverse);
    }
  }
  &--small {
    font-size: var(--typography-scale-s);
    padding-left: var(--space-5);
    padding-right: var(--space-5);
  }
  &--medium {
    font-size: var(--typography-scale-m);
  }
  &--large {
    font-size: var(--typography-scale-l);
    padding-left: var(--space-9);
    padding-right: var(--space-9);
  }
}