.ds-button {
  border-style: none;
  position: relative;
  cursor: pointer;
  display: flex;
  vertical-align: middle;
  padding-top: var(--ds-space-2);
  padding-bottom: var(--ds-space-2);
  padding-left: var(--ds-space-7);
  padding-right: var(--ds-space-7);
  border-radius: var(--ds-border-radius-m);

  &--primary {
    background-color: var(--ds-color--ui-primary);
    color: var(--ds-color--text-inverse);

    svg {
      color: var(--ds-color--text-inverse);
    }

    &:hover {
      background-color: var(--ds-color-brand-primary-main);
    }

    &:active,
    &:focus {
      background-color: var(--ds-color-brand-primary-dark);
    }

    &:disabled {
      background-color: var(--ds-color--ui-disabled);
      color: var(--ds-color--text-inverse);
    }
  }

  &--secondary {
    background-color: var(--ds-color--text-inverse);
    border-color: var(--ds-color--ui-primary);
    color: var(--ds-color--ui-primary);

    svg {
      color: var(--ds-color--ui-primary);
    }

    &:hover {
      color: var(--ds-color--text-inverse);
      background-color: var(--ds-color-brand-primary-main);
    }

    &:active,
    &:focus {
      color: var(--ds-color--text-inverse);
      background-color: var(--ds-color-brand-primary-dark);
    }

    &:disabled {
      background-color: var(--ds-color--ui-disabled);
      color: var(--ds-color--text-inverse);
    }
  }

  &--chevron {
    background-color: transparent;
    border-color: transparent;
    color: var(--ds-color--ui-primary);

    svg {
      color: var(--ds-color--ui-primary);
    }

    &:hover {
      color: var(--ds-color-brand-primary-main);
    }

    &:active,
    &:focus {
      color: var(--ds-color-brand-primary-dark);
    }

    &:disabled {
      color: var(--ds-color--ui-disabled);
    }
  }

  &--icon {
    background-color: var(--ds-color--ui-primary);
    border-color: transparent;
    color: var(--ds-color--text-inverse);
    padding-top: var(--ds-space-3);
    padding-bottom: var(--ds-space-3);
    padding-left: var(--ds-space-3);
    padding-right: var(--ds-space-3);
  

    svg {
      color: var(--ds-color--text-inverse);
    }

    &:hover {
      background-color: var(--ds-color-brand-primary-main);
    }

    &:active,
    &:focus {
      background-color: var(--ds-color-brand-primary-dark);
    }

    &:disabled {
      background-color: var(--ds-color--ui-disabled);
      color: var(--ds-color--text-inverse);
    }
  }

  &--small {
    font-size: var(--ds-typography-scale-s);
    padding-left: var(--ds-space-5);
    padding-right: var(--ds-space-5);  
  }

  &--medium {
    font-size: var(--ds-typography-scale-m);
  }

  &--large {
    font-size: var(--ds-typography-scale-l);
    padding-left: var(--ds-space-9);
    padding-right: var(--ds-space-9);  
  }
}