.container {
  width: max-content;
  background-color: var(--ds-color--ui-background-2);
  border-radius: var(--ds-border-radius-m);
  border: 1px solid;
  border-color: var(--ds-color-brand-secondary-main);
  box-shadow: var(--ds-shadow-100);
  margin: var(--ds-space-4);
}

.nav {
  display: flex;
  padding: var(--ds-space-4);
}