:root {
  /**
  * @tokens Colors
  * @presenter Color
  */
  --ds-color-text-success: #138000;
  --ds-color-text-link: #0366d6;
  --ds-color-text-error: #d0421b;
  --ds-color-text-inverse: #ffffff;
  --ds-color-text-disabled: #9c9c9c;
  --ds-color-text-secondary: #757575;
  --ds-color-text-primary: #262626;
  --ds-color-background-2: #f1f1f1;
  --ds-color-background-1: #ffffff;
  --ds-color-ui-alert-dark: #b16400;
  --ds-color-ui-alert-default: #db7c00;
  --ds-color-ui-alert-light: #ef9827;
  --ds-color-ui-success-dark: #105e03;
  --ds-color-ui-success-default: #138000;
  --ds-color-ui-success-light: #34af1f;
  --ds-color-ui-error-dark: #ab1010;
  --ds-color-ui-error-default: #d60000;
  --ds-color-ui-error-light: #ed1a1a;
  --ds-color-ui-disabled: #dedede;
  --ds-color-ui-quaternary: #ffffff;
  --ds-color-ui-tertiary: #ededed;
  --ds-color-ui-secondary: #828181;
  --ds-color-ui-primary: #262626;
  --ds-color-brand-secondary-darker: #0e0e0e;
  --ds-color-brand-secondary-dark: #1a1919;
  --ds-color-brand-secondary-main: #262626;
  --ds-color-brand-secondary-light: #3e3e3e;
  --ds-color-brand-primary-darker: #a3331a;
  --ds-color-brand-primary-dark: #b73b20;
  --ds-color-brand-primary-main: #d44527;
  --ds-color-brand-primary-light: #ea5435;
}