
  /* default grid tokens */

  :root {
  --grid-margin-l: 154; /* l */ 
  --grid-margin-desktop: 154; /* l */ 
  --grid-margin-l: 154; /* l */ 
  --grid-margin-desktop: 154; /* l */ 
    
  }
  
    /* grid tokens for l (1440px) */
    @media screen and (min-width: 1440px) {
        :root {
          --grid-margin-l: 154; /* l */ 
          --grid-margin-desktop: 154; /* l */ 
          --grid-margin-l: 154; /* l */ 
          --grid-margin-desktop: 154; /* l */         
        }
    },
    /* grid tokens for m (768px) */
    @media screen and (min-width: 768px) {
        :root {
          --grid-margin-l: 154; /* l */ 
          --grid-margin-desktop: 154; /* l */ 
          --grid-margin-l: 154; /* l */ 
          --grid-margin-desktop: 154; /* l */ 
          --grid-margin-m: 34; /* m */ 
          --grid-margin-tablet: 34; /* m */ 
          --grid-margin-m: 32; /* m */ 
          --grid-margin-tablet: 32; /* m */         
        }
    },
    /* grid tokens for s (364px) */
    @media screen and (min-width: 364px) {
        :root {
          --grid-margin-l: 154; /* l */ 
          --grid-margin-desktop: 154; /* l */ 
          --grid-margin-l: 154; /* l */ 
          --grid-margin-desktop: 154; /* l */ 
          --grid-margin-m: 34; /* m */ 
          --grid-margin-tablet: 34; /* m */ 
          --grid-margin-m: 32; /* m */ 
          --grid-margin-tablet: 32; /* m */ 
          --grid-margin-s: 28; /* s */ 
          --grid-margin-mobile: 28; /* s */ 
          --grid-margin-s: 28; /* s */ 
          --grid-margin-mobile: 28; /* s */         
        }
    }
  