:root {
  /**
  * @tokens Spacing
  * @presenter Spacing
  */
--ds-space-1: 0.25rem;
--ds-space-2: 0.5rem;
--ds-space-3: 0.75rem;
--ds-space-4: 1rem;
--ds-space-5: 1.25rem;
--ds-space-6: 1.5rem;
--ds-space-7: 2rem;
--ds-space-8: 2.5rem;
--ds-space-9: 3rem;
--ds-space-10: 4rem;
--ds-space-11: 6rem;
--ds-space-12: 8rem;
}