:root {
  /**
  * @tokens Colors
  * @presenter Color
  */
  --ds-color-brand-primary-main: #D44527;
  --ds-color-brand-primary-light: #EA5435;
  --ds-color-brand-primary-dark: #B73B20;
  --ds-color-brand-primary-darker: #A3331A;

  --ds-color-brand-secondary-main: #262626;
  --ds-color-brand-secondary-light: #3E3E3E;
  --ds-color-brand-secondary-dark: #1A1919;
  --ds-color-brand-secondary-darker: #0E0E0E;

  --ds-color--ui-primary: #262626;
  --ds-color--ui-secondary: #828181;
  --ds-color--ui-tertiary: #EDEDED;
  --ds-color--ui-quaternary: #FFFFFF;
  --ds-color--ui-disabled: #DEDEDE;
  
  --ds-color--ui-error-default: #D60000;
  --ds-color--ui-error-light: #ED1A1A;
  --ds-color--ui-error-dark: #AB1010;
  --ds-color--ui-success-default: #138000;
  --ds-color--ui-success-light: #34AF1F;
  --ds-color--ui-success-dark: #105E03;
  --ds-color--ui-alert-default: #DB7C00;
  --ds-color--ui-alert-light: #EF9827;
  --ds-color--ui-alert-dark: #B16400;

  --ds-color--ui-background-1: #dee2e6;
  --ds-color--ui-background-2: #ced4da;

  --ds-color--text-primary: #262626;
  --ds-color--text-secondary: #757575;
  --ds-color--text-disabled: #9C9C9C;
  --ds-color--text-inverse: #FFFFFF;
  --ds-color--text-error: #D0421B;
  --ds-color--text-success: #138000;
  --ds-color--text-link: #0366D6;
}