:root {
  /**
  * @tokens Font Sizes
  * @presenter FontSize
  */
  --ds-typography-scale-5xl: 3rem;
  --ds-typography-scale-4xl: 2.5rem;
  --ds-typography-scale-3xl: 2rem;
  --ds-typography-scale-2xl: 1.75rem;
  --ds-typography-scale-xl: 1.5rem;
  --ds-typography-scale-l: 1.25rem;
  --ds-typography-scale-m: 1rem;
  --ds-typography-scale-s: 0.75rem;
  --ds-typography-scale-xs: 0.625rem;

  /**
  * @tokens Font Weights
  * @presenter FontWeight
  */
  --ds-typography-weight-regular: normal;
  --ds-typography-weight-medium: lighter;
  --ds-typography-weight-bold: bolder;

  /**
  * @tokens Letter Spacings
  * @presenter LetterSpacing
  */
  --ds-typography-letter-spacing-default: normal;
  --ds-typography-letter-spacing-tracked: 0.25rem;

  /**
  * @tokens Line Heights
  * @presenter LineHeight
  */
  --ds-typography-line-height-100: 100%;
  --ds-typography-line-height-125: 125%;
  --ds-typography-line-height-150: 150%;
}